In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset = pd.read_csv('Social_Network_Ads.csv')

In [3]:
dataset.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [5]:
dataset['Gender_Binary']=le.fit_transform(dataset.Gender)

In [6]:
X=dataset[['Age','EstimatedSalary','Gender_Binary']]

In [7]:
Y=dataset[['Purchased']]

In [8]:
X.head()

   Age  EstimatedSalary  Gender_Binary
0   19            19000              1
1   35            20000              1
2   26            43000              0
3   27            57000              0
4   19            76000              1

In [9]:
Y.head()

   Purchased
0          0
1          0
2          0
3          0
4          0

In [10]:
from sklearn.ensemble import RandomForestClassifier
rfc=RandomForestClassifier(n_estimators=10)

In [11]:
import warnings
warnings.filterwarnings("ignore")
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size=0.2)

In [12]:
rfc.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [13]:
rfc.score(X_test,y_test)

0.8875

In [14]:
rfc.predict([[30,87000,1]])

array([0], dtype=int64)